/*visual da barra*/
#searchbar{
    margin-left: 1%;
    padding:10px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  input[type=text] {
     width: 30%;
     -webkit-transition: width 0.15s ease-in-out;
     transition: width 0.15s ease-in-out;
  }

  input[type=text]:focus{
    width: 70%;
  }

 #list{
   
    
   font-size:  1.5em;
   margin-left: 90px;
   list-style: none;
   list-style-position:initial;
   
     
   
  }

#list li a{
   
 text-decoration: none;
 color: rgb(255, 255, 255);

}

#list li img{

    margin-top: 25px;
    display: flex;
    
}

.filme{
  display: list-item;    
 } 

 


 /*variaveis*/
:root{
    --vermelho: #E50914;
    --preta:#141414;
    --cinza:#AAA;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*ELEMENTOS BASE*/
body
{
    background-color:black;
    margin: 0;
    padding: 0;
    color: white;
}


header .container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color:var(--preta);
    height: 40px;
    border-bottom: 1px solid var(--vermelho);
} 
    
.logo
{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size:40px;
    margin-bottom: 20px;
}



/*icone*/
header i
{
    color:var(--vermelho)
}

/*MENU*/

header nav
{
    margin-bottom: 10px;
}

header nav a{
    
    text-decoration:none;
    color: white;
    margin-right: 10px; 
    background-color: transparent;
    padding: 10px;
    
}

header nav a:hover{
    
    color:#fff;
    background-color: var(--vermelho);
    transition: 1.3s ease all;

}



/*pagina de busca*/
.box-filme1{

    height: 100%;
    width: 20%;
    display: block;


}

/*--------------------RODAPE---------------------------------*/
.rodape 
{
   
    font-size: 14px;
    color:white;
    text-align: center;
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.404) ;
    background: var(--vermelho);
    line-height: 50px;
     height: 100%;

}
